@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.kapsayici{
    width: 60vw;
    height: max-content;
    margin: 0 auto;
}

header{width: 60vw;}

nav{
    width: 60vw;
    height: 150px;
    background-image: url(../Assets/bg_nav.png);
    z-index: 100;
}

#menu{
    display: flex;
    justify-content: space-around;
}

#menu li{
    line-height: 150px;
    display: inline-block;
    width: 100px;
    height: 150px;
    text-align: center;
}

#menu li a{
    display: block;
    font-size: 25px;
    background-image: url(../Assets/ribon.png);
    background-position-y: -150px;
    background-repeat: no-repeat;
    transition: all .3s ease-in;
}

#menu li a:hover, .active{
    background-position-y: 0 !important;
    color: #f3eede !important;
}

.slogan{
    height: max-content;
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.slogan div{width: 25vw;}
.slogan h1{font-size: 70px;}

.slogan a{
    font-size: 15px;
    border-bottom: 1px dotted;
}

#hr1{border-top: 1px  solid; width: 12vw;}
#hr2{border-top: 1px dotted;}

.slogan div form{
    margin-top: 20px;
    float: right;
    text-align: center;
}

.slogan div form label:first-child{font-size: 25px;}
.slogan div form label:last-child{font-size: 20px;}

.slogan div form button{
    width: 110px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #9c5959;
    color: white;
    font-size: 18px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 60vw;
}